<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../statics/css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="../statics/Favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../statics/Favicon/favicon-16x16.png">
  <title>P6VOTA</title>
</head>
<body>
  <section class="form-register">
    <h4>Inicia sesión</h4>
      <form action="templates/registro.html">
    <input class="controls" type="text" name="usuario" id="user" required placeholder="Ingresa tu usuario:">
    <input class="controls" type="password" name="contraseña" id="contraseña" required placeholder="Ingrese su Apellido">
      <button class="botons" type="submit">Confirmar</button>
    </form>
  </section>
</body>
</html>
